@media (max-width:767px){
	body {
  /*min-height: 2000px;*/
  padding-top: 30px;
}
.navbar{
	min-height:60px;
}
.navbar-toggle{
	margin: 0;
	padding: 10px 10px 0px 10px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
	border-radius: 0;
}
	.navbar-brand{
	padding-top: 20px;
}
}
@media (min-width:768px){
body {
  /*min-height: 2000px;*/
  padding-top: 60px;
}
.navbar{
	min-height:60px;
}
	.navbar-brand{
	padding-top: 20px;
}
}